<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>交流社区</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <link rel="stylesheet" href="/css/common.css">

</head>
<body>
<nav class="navbar navbar-default">
    <div th:insert="~{navigation :: nav}"></div><!-- /.container-fluid -->
    <div class="container-fluid main">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 " >
                <h2><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 发起</h2>
                <hr>

                <form action="/public" method="post">
                    <input type="hidden" name="id" th:value="${id}">
                    <div class="form-group">

                        <label for="tag">问题标题</label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题" th:value="${title}">
                    </div>
                    <div class="form-group">
                        <label for="description">问题详情</label>
                        <textarea type="text" th:text="${description}" class="form-control" id="description" name="description" placeholder="" rows="10" cols="30" ></textarea>
                    </div>
                    <div class="form-group">
                        <label for="tag">添加标签</label>
                        <input  th:value="${tag}" type="text" class="form-control" id="tag" name="tag" placeholder="请输入标签，用逗号隔开">
                    </div>
                    <span class="alert alert-danger" role="alert" th:text="${error}" th:if="${error!=null}"></span>
                    <button type="submit" class="btn btn-success btn-publish"> 提交</button>
                </form>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 " >
                <h3>问题发起指南</h3>
                • 问题标题: 请用精简的语言描述您发布的问题，不超过25字 <br>
                • 问题补充: 详细补充您的问题内容，并确保问题描述清晰直观, 并提供一些相关的资料<br>
                • 选择标签: 选择一个或者多个合适的标签，用逗号隔开，每个标签不超过10个字<br>
            </div>
        </div>
    </div>
</nav>
</body>
</html>